body {
	background-color:#F9F9F9;
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
	color:#30464B;
	font-weight: 200;
	text-rendering: optimizeLegibility;
  	background-repeat: repeat-x;
}

nav {
	width: 100%;
	background-color:#FFF;
	height:80px;
	position:fixed;
    z-index: 101;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 2px 24px 10px rgba(1, 1, 1, 0.04), 0 4px 14px 0 rgba(1,1,1,.05);
}

.content {
	width:100%;
	margin:0 auto;
	padding: 0 100px;
    z-index: 100;
    position: relative;
    box-sizing: border-box;
}

nav h1 {
	font-weight: 500;
	font-size: 20px;
	line-height:1.5em;
	margin:26px 0;
	display: inline-block;
}

.links {
	margin-right:0;
	display:inline-block;
	float:right;
}
nav h4 {
	display: inline-block;
	margin-right:40px;
	font-size:14px;
	font-weight:400;
/*	margin: 14px 40px 12px 0;*/
}

.button-link {
	background-color:#6D8FF1;
	border-radius:1px;
	display:inline-block;
	margin:16px 0;
	color: #fff;
	background-color: #6D8FF1;
    border-radius: 1px;
    margin: 16px 0;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 14px 20px;
    font-size: 14px;
}
.button-link:hover {
	background-color:#4252B6;
	color: #FFF;
}

.button-link h5 {
	display:inline-block;
	color: #FFF;
	padding: 0px 24px;
	font-weight: 600;
	font-size: 14px;
	margin: 14px auto;

}
.section {
	padding-top:120px;
	width: 800px;
	text-align:center;
}
.avatar {
	width:280px;
	text-align:center;
/*	filter: grayscale(10%);*/
	image-rendering: crisp-edges;
}

.card {
	background-color:#FFF;
	border-radius:1px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 24px 10px rgba(1,1,1,.03);
	padding: 40px 40px 30px 40px;
	z-index:5;
	position:relative;
	text-align:left;
}

.card h2 {
	font-weight:500;
	font-size:32px;
	line-height:1.5em;
	margin-top:0;
	margin-bottom:16px;
}

.card h3 {
	font-weight:500;
	font-size:20px;
	line-height:1.5em;
	margin-top:0;
	margin-bottom:0;
}

p {
	font-family:"Montserrat", "Poppins", "Arial", sans-serif;
	font-size:14px;
	font-weight:100;
	line-height:24px;
}

a {
	color:#6D8FF1;
	text-decoration:none;
	font-weight:500;
}

a:hover {
	color:#4252B6;
}

hr {
	width: 120px;
	color:#E2E5E6;
	margin: 20px auto 28px 0;
	opacity:0.3;
}

#main {
	width:480px;
	margin-left:470px;
/*	position:relative;*/
	margin-top:-200px;
	float:left;
}

#work {
	width:520px;
	margin-top:-160px;
	margin-left: 240px;
	float:left;
/*	clear:both;*/
	margin-bottom:0px;
}
.spacegirl {
	width:360px;
	text-align:left;
	float:left;
	margin-top:-40px;
/*	margin-left: -800px;*/
	position: relative;
}

#work-container {
	margin-bottom:300px;
}

/* Triangle stuff */
svg {
    position: absolute;
}
polygon {
    fill: #f9f9f9;
}
#triangles {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.6s ease-out 0.5s;
}
#triangles.ready {
    opacity: 1;
}
#triangles .on.o1 {
    fill: rgba(109, 143, 241, 0);
}
#triangles .on.o2 {
    fill: rgba(109, 143, 241, 0.2);
}
#triangles .on.o3 {
    fill: rgba(109, 143, 241, 0.4);
}
#triangles .on.o4 {
    fill: rgba(109, 143, 241, 0.6);
}
#triangles .on.o5 {
    fill: rgba(109, 143, 241, 0.8);
}

@media only screen and (max-width: 940px) {
	#triangles {
		display: none;
	}
	.links {
		display: none;
	}
	.content {
		padding: 0;
	}
	.section {
		width: auto;
		padding-top: 80px;
	}
	h1 {
		width: 100%;
		text-align: center;
	}
	#main, .avatar, #work, .spacegirl {
		max-width: 100%;
		width: auto;
	    position: relative;
	    left: 0;
	    float: none;
	    margin-left: 0;
	    box-sizing: border-box;
	    margin-top: 0;
	}
	#main, #work {
		margin: -30px 20px 0;
	}
	#work-container {
		margin-bottom: 20px;
	}
}
